/* 课程资料区域 */

.info {
    width: 900px;
	margin: 0 auto;
}


/* 设定表格 */

.info>table {
    width: 100%;
    background-color: #fff;
}

.info>table caption {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.info>table tr {
    background-color: #eee;
}

.info>table th {
    color: #333;
    font-weight: bold;
    background-color: antiquewhite;
}


/* 统一超链接的样式 */

.info a {
    text-decoration: none;
    font-weight: bold;
    color: #f00;
}


/* 设定内容居中 */

td:nth-child(2),
td:nth-child(3) {
    text-align: center;
}