.footer {
    background-color: #002752;
    color: white;
}

.footer__wrapper {
    width: 1000px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}

img {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.message span {
    margin-left: 15px;
    margin-right: 15px;
}