.more {
    background-color: #f5f5f5;
    padding: 0px 20px 10px;
}

.more-bg {
    width: 100%;
    height: 60px;
    background-image: url(../src/images/more.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.more-t {
    text-align: center;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}