/* 通用头部 */

.header {
    height: 40px;
    background-color: #fff;
	position: sticky;
	top: 0;
	left:0;
}
.clearfix{
	content: "";
	clear: both;
	display: block;
}
header::after{
	content: "";
	clear: both;
	display: block;
}
.logo {
    font-size: 20px;
    font-weight: normal;
	float: left;
}

.nav {
	margin: 15px 0 0 40px;
	float: left;
	
}


/* 导航单元样式 */

.nav-item {
    padding: 8px;
    font-size: 16px;
    color: #888;
	text-decoration: none;
}


/* 导航单元被选中状态样式 */

.nav-active {
    color: #000;
}
.header-left{
	float: left;
}
.header-right{
	float: right;
	padding: 0 10px;
	margin: 10px 5px;
}
.header-right-unlogined {
    display: inline-block;
}

.header-right-unlogined>a {
    padding: 6px 12px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
	text-decoration: none;
}

.btn-login {
    margin-right: 8px;
    border: 1px solid #007bff;
}

.btn-login:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-reg {
    border-color: #2a8745;
    background-color: #2a8745;
    color: #fff;
}

.btn-reg:hover {
    background-color: #218138;
    border-color: #218138;
    color: #fff;
}